In [1]:
import pandas as pd
import matplotlib.pyplot as plot

In [2]:
# loading csv file
car_df=pd.read_csv("Resources/cars_summary.csv")
# car_df.head(5)
print(car_df.count)

<bound method DataFrame.count of           car_id                          name  year  selling_price    fuel  \
0         CarID1        Maruti Swift Dzire VDI  2014         450000  Diesel
1        Car ID2  Skoda Rapid 1.5 TDI Ambition  2014         370000  Diesel
2        Car ID3      Honda City 2017-2020 EXi  2006         158000  Petrol
3        Car ID4     Hyundai i20 Sportz Diesel  2010         225000  Diesel
4        Car ID5        Maruti Swift VXI BSIII  2007         130000  Petrol
...          ...                           ...   ...            ...     ...
8123  Car ID8124             Hyundai i20 Magna  2013         320000  Petrol
8124  Car ID8125         Hyundai Verna CRDi SX  2007         135000  Diesel
8125  Car ID8126        Maruti Swift Dzire ZDi  2009         382000  Diesel
8126  Car ID8127               Tata Indigo CR4  2013         290000  Diesel
8127  Car ID8128               Tata Indigo CR4  2013         290000  Diesel

     seller_type  km_driven                 owner     mileage
0     Individual     145500           First Owner   23.4 kmpl
1     Individual     120000          Second Owner  21.14 kmpl
2     Individual     140000           Third Owner   17.7 kmpl
3     Individual     127000           First Owner   23.0 kmpl
4     Individual     120000           First Owner   16.1 kmpl
...          ...        ...                   ...         ...
8123  Individual     110000           First Owner   18.5 kmpl
8124  Individual     119000  Fourth & Above Owner   16.8 kmpl
8125  Individual     120000           First Owner   19.3 kmpl
8126  Individual      25000           First Owner  23.57 kmpl
8127  Individual      25000           First Owner  23.57 kmpl

[8128 rows x 9 columns]>

In [3]:
# dropna for each row
car_dropna_df= car_df.dropna(how="any")
# car_dropna_df.head(20)
print(car_dropna_df.count)

<bound method DataFrame.count of           car_id                          name  year  selling_price    fuel  \
0         CarID1        Maruti Swift Dzire VDI  2014         450000  Diesel
1        Car ID2  Skoda Rapid 1.5 TDI Ambition  2014         370000  Diesel
2        Car ID3      Honda City 2017-2020 EXi  2006         158000  Petrol
3        Car ID4     Hyundai i20 Sportz Diesel  2010         225000  Diesel
4        Car ID5        Maruti Swift VXI BSIII  2007         130000  Petrol
...          ...                           ...   ...            ...     ...
8123  Car ID8124             Hyundai i20 Magna  2013         320000  Petrol
8124  Car ID8125         Hyundai Verna CRDi SX  2007         135000  Diesel
8125  Car ID8126        Maruti Swift Dzire ZDi  2009         382000  Diesel
8126  Car ID8127               Tata Indigo CR4  2013         290000  Diesel
8127  Car ID8128               Tata Indigo CR4  2013         290000  Diesel

     seller_type  km_driven                 owner     mileage
0     Individual     145500           First Owner   23.4 kmpl
1     Individual     120000          Second Owner  21.14 kmpl
2     Individual     140000           Third Owner   17.7 kmpl
3     Individual     127000           First Owner   23.0 kmpl
4     Individual     120000           First Owner   16.1 kmpl
...          ...        ...                   ...         ...
8123  Individual     110000           First Owner   18.5 kmpl
8124  Individual     119000  Fourth & Above Owner   16.8 kmpl
8125  Individual     120000           First Owner   19.3 kmpl
8126  Individual      25000           First Owner  23.57 kmpl
8127  Individual      25000           First Owner  23.57 kmpl

[7907 rows x 9 columns]>

In [4]:
car_dropna_df.head(20)

,car_id,name,year,selling_price,fuel,seller_type,km_driven,owner,mileage
0,CarID1,Maruti Swift Dzire VDI,2014,450000,Diesel,Individual,145500,First Owner,23.4 kmpl
1,Car ID2,Skoda Rapid 1.5 TDI Ambition,2014,370000,Diesel,Individual,120000,Second Owner,21.14 kmpl
2,Car ID3,Honda City 2017-2020 EXi,2006,158000,Petrol,Individual,140000,Third Owner,17.7 kmpl
3,Car ID4,Hyundai i20 Sportz Diesel,2010,225000,Diesel,Individual,127000,First Owner,23.0 kmpl
4,Car ID5,Maruti Swift VXI BSIII,2007,130000,Petrol,Individual,120000,First Owner,16.1 kmpl
5,Car ID6,Hyundai Xcent 1.2 VTVT E Plus,2017,440000,Petrol,Individual,45000,First Owner,20.14 kmpl
6,Car ID7,Maruti Wagon R LXI DUO BSIII,2007,96000,LPG,Individual,175000,First Owner,17.3 km/kg
7,Car ID8,Maruti 800 DX BSII,2001,45000,Petrol,Individual,5000,Second Owner,16.1 kmpl
8,Car ID9,Toyota Etios VXD,2011,350000,Diesel,Individual,90000,First Owner,23.59 kmpl
9,Car ID10,Ford Figo Diesel Celebration Edition,2013,200000,Diesel,Individual,169000,First Owner,20.0 kmpl
10,Car ID11,Renault Duster 110PS Diesel RxL,2014,500000,Diesel,Individual,68000,Second Owner,19.01 kmpl
11,Car ID12,Maruti Zen LX,2005,92000,Petrol,Individual,100000,Second Owner,17.3 kmpl
12,Car ID13,Maruti Swift Dzire VDi,2009,280000,Diesel,Individual,140000,Second Owner,19.3 kmpl
14,Car ID15,Maruti Wagon R LXI Minor,2009,180000,Petrol,Individual,90000,Second Owner,18.9 kmpl
15,Car ID16,Mahindra KUV 100 mFALCON G80 K8 5str,2016,400000,Petrol,Individual,40000,First Owner,18.15 kmpl
16,Car ID17,Maruti Ertiga SHVS VDI,2016,778000,Diesel,Individual,70000,Second Owner,24.52 kmpl
17,Car ID18,Hyundai i20 1.4 CRDi Asta,2012,500000,Diesel,Individual,53000,Second Owner,23.0 kmpl
18,Car ID19,Maruti Alto LX,2002,150000,Petrol,Individual,80000,Second Owner,19.7 kmpl
19,Car ID20,Hyundai i20 2015-2017 Asta 1.4 CRDi,2016,680000,Diesel,Individual,100000,First Owner,22.54 kmpl
20,Car ID21,Mahindra Verito 1.5 D4 BSIII,2011,174000,Diesel,Individual,100000,Second Owner,21.0 kmpl

In [5]:
# sperate name for car brand and model
car_dropna_df[['manufactory','type']] =  car_dropna_df["name"].str.split(" ", n=1, expand=True)
car_dropna_df.head()

C:\Users\weiti\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,car_id,name,year,selling_price,fuel,seller_type,km_driven,owner,mileage,manufactory,type
0,CarID1,Maruti Swift Dzire VDI,2014,450000,Diesel,Individual,145500,First Owner,23.4 kmpl,Maruti,Swift Dzire VDI
1,Car ID2,Skoda Rapid 1.5 TDI Ambition,2014,370000,Diesel,Individual,120000,Second Owner,21.14 kmpl,Skoda,Rapid 1.5 TDI Ambition
2,Car ID3,Honda City 2017-2020 EXi,2006,158000,Petrol,Individual,140000,Third Owner,17.7 kmpl,Honda,City 2017-2020 EXi
3,Car ID4,Hyundai i20 Sportz Diesel,2010,225000,Diesel,Individual,127000,First Owner,23.0 kmpl,Hyundai,i20 Sportz Diesel
4,Car ID5,Maruti Swift VXI BSIII,2007,130000,Petrol,Individual,120000,First Owner,16.1 kmpl,Maruti,Swift VXI BSIII

In [6]:
# Select column
car_clean_df=car_dropna_df[['manufactory',"year","selling_price","fuel","seller_type","mileage"]]
car_clean_df

     manufactory  year  selling_price    fuel seller_type     mileage
0         Maruti  2014         450000  Diesel  Individual   23.4 kmpl
1          Skoda  2014         370000  Diesel  Individual  21.14 kmpl
2          Honda  2006         158000  Petrol  Individual   17.7 kmpl
3        Hyundai  2010         225000  Diesel  Individual   23.0 kmpl
4         Maruti  2007         130000  Petrol  Individual   16.1 kmpl
...          ...   ...            ...     ...         ...         ...
8123     Hyundai  2013         320000  Petrol  Individual   18.5 kmpl
8124     Hyundai  2007         135000  Diesel  Individual   16.8 kmpl
8125      Maruti  2009         382000  Diesel  Individual   19.3 kmpl
8126        Tata  2013         290000  Diesel  Individual  23.57 kmpl
8127        Tata  2013         290000  Diesel  Individual  23.57 kmpl

[7907 rows x 6 columns]

In [7]:
# Clean fuel types
car_clean_df['fuel'] = car_clean_df['fuel'].replace(['CNG', 'LPG'], 'Other')

<ipython-input-7-e4d823f7566f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_clean_df['fuel'] = car_clean_df['fuel'].replace(['CNG', 'LPG'], 'Other')

In [8]:
car_clean_df.dtypes

manufactory      object
year              int64
selling_price     int64
fuel             object
seller_type      object
mileage          object
dtype: object

In [9]:
car_over17=car_clean_df[car_clean_df["year"]>2017]

print(car_over17.count)

<bound method DataFrame.count of      manufactory  year  selling_price    fuel seller_type      mileage
24          Tata  2018         500000  Petrol  Individual    20.3 kmpl
29        Maruti  2018         254999  Petrol  Individual    16.8 kmpl
33       Hyundai  2018         730000  Petrol  Individual    18.6 kmpl
35        Maruti  2019         330000   Other  Individual  33.44 km/kg
36        Maruti  2019         366000  Petrol  Individual   23.95 kmpl
...          ...   ...            ...     ...         ...          ...
8097        Ford  2018         880000  Diesel  Individual    23.0 kmpl
8100        Tata  2018         800000  Diesel  Individual    21.5 kmpl
8108         Kia  2019        1575000  Diesel  Individual    17.8 kmpl
8109        Ford  2018         750000  Diesel  Individual    24.4 kmpl
8112        Ford  2018         746000  Diesel  Individual    24.4 kmpl

[1463 rows x 6 columns]>

In [10]:
# save clean data 
car_over17.to_csv("Resources/car_clean.csv")